@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  width: 150px;
  margin-top:30px;
  margin-left: 50px;
  background-color: lightblue;
}
.Board{
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  border:2px solid rgb(48, 155, 218);
  margin-left:100px;
  margin-top: 30px;
}
.Board > * {
  width: 100px;
  height: 100px;
  margin: 5px;
}